USE [master]
GO
/****** Object:  Database [DB_CONTOH]    Script Date: 23/01/2021 22:02:04 ******/
CREATE DATABASE [DB_CONTOH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_CONTOH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_CONTOH.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_CONTOH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_CONTOH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_CONTOH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_CONTOH]
GO
/****** Object:  Table [dbo].[TBL_BARANG]    Script Date: 23/01/2021 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BARANG](
	[KodeBarang] [varchar](6) NOT NULL,
	[NamaBarang] [varchar](50) NULL,
	[HargaBeli] [numeric](18, 0) NULL,
	[HargaJual] [numeric](18, 0) NULL,
	[JumlahBarang] [numeric](18, 0) NULL,
	[SatuanBarang] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_BARANG] PRIMARY KEY CLUSTERED 
(
	[KodeBarang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
